* {
    box-sizing: border-box;
  }

body {
    font-family: 'VT323', monospace;
    font-size: 140%;
}


.MainTitles {
    
    font-family: 'VT323', monospace;
    font-weight: bolder;
    font-size: 100%;
    margin-top: 15%;
    color: rgb(255, 251, 251);


}

.bg-primary {
    padding-top: 0%;
    background-image: url("../images/WEBDEVPIC.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
}


.navPosition {
    padding-bottom: 7%;;
}

@media screen and (max-width: 710px) {
    .navPosition {
        padding-bottom: 13%;
    }
}

.navBorder:hover {
    background-color: black;
    color: #A5CFC9;
    padding: 2%;
    border-radius: 5px;
    padding-bottom:7%;
    font-family: 'VT323', monospace;

}

.nav-link {
    color: rgb(255, 251, 251) !important;
    font-weight: bolder;
    font-size: 125%;
}

@media screen and (max-width: 476px) {
    .navPosition {
        font-size: 75%;
    }
}

.container {
    width: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.introDiv {
    padding-left: 3%;
    padding-bottom: 5%;
    text-align: left;
    font-weight: bold;
}

body, html {
    height: 100%;
  }
  
  .parallax {
    /* The image used */
    background-image: url("../images/WEBDEVPIC.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.name {
    font-family: 'Marcellus SC', serif;
    text-align: center;
    font-weight: bolder;
    font-size: 350%;
    margin-top: 8%;
    color: #ffffff;

}

.genres{
    text-align: center;
    font-weight: bolder;
    font-size: 250%;
    color:whitesmoke;
    font-family: 'VT323', monospace;
    


}

.profession {
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    text-align: center;
    font-size: 250%;
    color: rgb(255, 251, 251);
}


.skills {
    font-family: 'Amatic SC', cursive;
    font-size: 155%;
    font-weight: bolder;
    color: rgb(255, 251, 251);
}

.photoDiv {
    text-align: center;
    align-content: center;
}

.profilePic {
    width: 50%;
    border-style: solid;
    border-width: 15px;
    border-bottom-width: 15px;
}

.bg-secondary {
    /* background-image: url("../images/madosporch.jpg"); */
    background-color:rgb(0, 0, 0) !important;
}

.aboutSection {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    color: rgb(148, 241, 234);
    padding-bottom: 4%;
    padding-top: 1%;
}

.aboutParagraph {
    font-family: 'Cinzel', serif;
    text-align: left;
    color:rgb(255, 255, 255);
    font-weight:bolder;
    font-size: 150%;
}

.portfolio {
    color:  rgb(0, 0, 0) !important;
    text-align: center;
    font-size: 36px;
    padding-top: 1%;
    padding-bottom: 5%;
    background-image: url("../images/hero-bg.jpg");
    font-family: 'Gloria Hallelujah', cursive;
   
}


.thumbnailWrapper {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.imgMod {
    color:  rgb(255, 255, 255) !important;
    width: 100%;
    height: 100%;
    padding: 2%;;
    border-style: solid;
    border-color: black;
    border-width: medium;
    margin: 3%;
    margin-bottom: 5%;
    margin-top: 5%;
    font-family: 'Gloria Hallelujah', cursive;
}

.projectName {
    color: black !important;
    font-weight: bolder;
    font-family: 'VT323', monospace;
}

.contact {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;
}

.bg-info{
    background-color: rgba(247, 225, 207, 0.596) !important;
}

button {
    border-radius: 5px;
    margin-bottom: 1%;
    background-color: #A5CFC9;
    border-color: black;
    padding-bottom:7px;
}

button:hover {
    background-color: black;
    color: rgb(240, 171, 234);
}

.footer {
    text-align: center;
    background-color:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    font-size: 100%;
    padding: 1%;
}